In [12]:
import sys
# map folder using sys
sys.path.append('../')
from galgoz import Galgoz
import pandas as pd

In [13]:
gz = Galgoz()
instruments = gz.fetch_instruments()
data = gz.candles_df()

### Display metadata for the first instrument

In [14]:
print(f"Total number instruments available: {len(instruments)}")
instruments[0]

Total number instruments available: 123

{'name': 'XAG_SGD',
 'type': 'METAL',
 'displayName': 'Silver/SGD',
 'pipLocation': -4,
 'displayPrecision': 5,
 'tradeUnitsPrecision': 0,
 'minimumTradeSize': '1',
 'maximumTrailingStopDistance': '1.00000',
 'minimumTrailingStopDistance': '0.00050',
 'maximumPositionSize': '0',
 'maximumOrderUnits': '500000',
 'marginRate': '0.1',
 'guaranteedStopLossOrderMode': 'DISABLED',
 'tags': [{'type': 'ASSET_CLASS', 'name': 'COMMODITY'},
  {'type': 'KID_ASSET_CLASS', 'name': 'METAL'},
  {'type': 'BRAIN_ASSET_CLASS', 'name': 'METAL'}],
 'financing': {'longRate': '-0.0588',
  'shortRate': '0.0051',
  'financingDaysOfWeek': [{'dayOfWeek': 'MONDAY', 'daysCharged': 1},
   {'dayOfWeek': 'TUESDAY', 'daysCharged': 1},
   {'dayOfWeek': 'WEDNESDAY', 'daysCharged': 1},
   {'dayOfWeek': 'THURSDAY', 'daysCharged': 1},
   {'dayOfWeek': 'FRIDAY', 'daysCharged': 1},
   {'dayOfWeek': 'SATURDAY', 'daysCharged': 0},
   {'dayOfWeek': 'SUNDAY', 'daysCharged': 0}]}}

In [15]:
### Display list of all available instruments in the account

In [16]:
[k["displayName"] for k in instruments]

['Silver/SGD',
 'AUD/NZD',
 'Brent Crude Oil',
 'NZD/USD',
 'Corn',
 'Netherlands 25',
 'CAD/JPY',
 'USD/ZAR',
 'Singapore 30',
 'EUR/USD',
 'Soybeans',
 'Gold/EUR',
 'Platinum',
 'USD/DKK',
 'Australia 200',
 'Gold/Silver',
 'Gold/GBP',
 'US Nas 100',
 'GBP/AUD',
 'USD/PLN',
 'China H Shares',
 'Switzerland 20',
 'CAD/HKD',
 'Silver/CHF',
 'USD/CHF',
 'Silver/HKD',
 'AUD/HKD',
 'Spain 35',
 'NZD/CHF',
 'AUD/CHF',
 'GBP/CHF',
 'USD/THB',
 'Gold/JPY',
 'Gold/HKD',
 'EUR/HKD',
 'CHF/JPY',
 'GBP/HKD',
 'EUR/NZD',
 'Silver/AUD',
 'West Texas Oil',
 'Silver/NZD',
 'AUD/SGD',
 'EUR/JPY',
 'EUR/TRY',
 'USD/JPY',
 'SGD/JPY',
 'GBP/ZAR',
 'Silver/JPY',
 'ZAR/JPY',
 'NZD/SGD',
 'EUR/DKK',
 'USD/HUF',
 'HKD/JPY',
 'Germany 30',
 'US Russ 2000',
 'Natural Gas',
 'Bund',
 'GBP/CAD',
 'UK 100',
 'EUR/HUF',
 'USD/SEK',
 'GBP/SGD',
 'Palladium',
 'Gold/CHF',
 'Gold/CAD',
 'EUR/PLN',
 'Sugar',
 'AUD/CAD',
 'US 5Y T-Note',
 'UK 10Y Gilt',
 'EUR/CAD',
 'USD/MXN',
 'GBP/USD',
 'CAD/SGD',
 'Silver/CAD',
 'Japan 225',
 'France 40',
 'US T-Bond',
 'NZD/HKD',
 'Silver',
 'EUR/CZK',
 'EUR/CHF',
 'Wheat',
 'Gold/AUD',
 'USD/CNH',
 'SGD/CHF',
 'NZD/JPY',
 'GBP/PLN',
 'NZD/CAD',
 'CHF/HKD',
 'China A50',
 'EUR/GBP',
 'USD/CZK',
 'US Wall St 30',
 'Japan 225 (JPY)',
 'EUR/NOK',
 'EUR/SEK',
 'USD/SGD',
 'GBP/NZD',
 'Gold',
 'GBP/JPY',
 'USD/TRY',
 'TRY/JPY',
 'Gold/NZD',
 'Hong Kong 33',
 'Silver/GBP',
 'EUR/SGD',
 'EUR/AUD',
 'Gold/SGD',
 'USD/CAD',
 'US SPX 500',
 'US 10Y T-Note',
 'Europe 50',
 'CAD/CHF',
 'USD/NOK',
 'US 2Y T-Note',
 'Copper',
 'AUD/USD',
 'Silver/EUR',
 'AUD/JPY',
 'EUR/ZAR',
 'CHF/ZAR',
 'USD/HKD']

### Fetch candle data as a DateFrame for the default instrument (GBP/JPY)

In [17]:
data.head()

                             time  volume        o        h        l        c
0  2024-12-18T07:00:00.000000000Z   13108  195.195  195.340  194.705  194.915
1  2024-12-18T08:00:00.000000000Z   14687  194.914  194.944  194.720  194.835
2  2024-12-18T09:00:00.000000000Z   10217  194.837  195.110  194.806  194.932
3  2024-12-18T10:00:00.000000000Z   11236  194.930  195.358  194.918  195.312
4  2024-12-18T11:00:00.000000000Z   10505  195.313  195.446  195.256  195.262