In [1]:
%load_ext autoreload
%autoreload 2
import sys
# map folder using sys
sys.path.append('../')
from galgoz import Galgoz

### Initialize and fetch 6000 candles

In [30]:
gz = Galgoz()
res = gz.fetch_candles(price="MBA")

In [31]:
res[0]

{'complete': True,
 'volume': 11214,
 'time': '2024-12-27T12:00:00.000000000Z',
 'bid': {'o': '197.870', 'h': '198.130', 'l': '197.816', 'c': '198.078'},
 'mid': {'o': '197.886', 'h': '198.146', 'l': '197.831', 'c': '198.096'},
 'ask': {'o': '197.902', 'h': '198.165', 'l': '197.845', 'c': '198.115'}}

In [29]:
df = gz.candles_df(price="MBA")
df.head()

,complete,volume,time,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,True,11214,2024-12-27T12:00:00.000000000Z,197.870,198.130,197.816,198.078,197.886,198.146,197.831,198.096,197.902,198.165,197.845,198.115
1,True,12424,2024-12-27T13:00:00.000000000Z,198.073,198.394,198.029,198.392,198.092,198.407,198.046,198.405,198.111,198.420,198.063,198.418
2,True,15587,2024-12-27T14:00:00.000000000Z,198.397,198.497,198.081,198.358,198.409,198.508,198.096,198.374,198.421,198.524,198.109,198.390
3,True,21613,2024-12-27T15:00:00.000000000Z,198.366,198.496,198.040,198.157,198.382,198.509,198.050,198.172,198.397,198.522,198.060,198.186
4,True,17683,2024-12-27T16:00:00.000000000Z,198.154,198.393,198.054,198.255,198.168,198.406,198.070,198.270,198.183,198.420,198.087,198.286

In [21]:
import pandas as pd
df_res = pd.DataFrame(res)
df_res = pd.json_normalize(res, sep='_')
df_res.columns = df_res.columns.str.replace('bid_', 'bid_', regex=False)
df_res.columns = df_res.columns.str.replace('ask_', 'ask_', regex=False)
df_res.columns = df_res.columns.str.replace('mid_', 'mid_', regex=False)
df_res.set_index('time', inplace=True)

In [22]:
df_res.head()

,complete,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c
time,,,,,,,,,,
2024-12-27T12:00:00.000000000Z,True,11214,197.870,198.130,197.816,198.078,197.886,198.146,197.831,198.096
2024-12-27T13:00:00.000000000Z,True,12424,198.073,198.394,198.029,198.392,198.092,198.407,198.046,198.405
2024-12-27T14:00:00.000000000Z,True,15587,198.397,198.497,198.081,198.358,198.409,198.508,198.096,198.374
2024-12-27T15:00:00.000000000Z,True,21613,198.366,198.496,198.040,198.157,198.382,198.509,198.050,198.172
2024-12-27T16:00:00.000000000Z,True,17683,198.154,198.393,198.054,198.255,198.168,198.406,198.070,198.270

In [12]:
type(res)

list

In [13]:
res

[{'complete': True,
  'volume': 11214,
  'time': '2024-12-27T12:00:00.000000000Z',
  'bid': {'o': '197.870', 'h': '198.130', 'l': '197.816', 'c': '198.078'},
  'mid': {'o': '197.886', 'h': '198.146', 'l': '197.831', 'c': '198.096'},
  'ask': {'o': '197.902', 'h': '198.165', 'l': '197.845', 'c': '198.115'}},
 {'complete': True,
  'volume': 12424,
  'time': '2024-12-27T13:00:00.000000000Z',
  'bid': {'o': '198.073', 'h': '198.394', 'l': '198.029', 'c': '198.392'},
  'mid': {'o': '198.092', 'h': '198.407', 'l': '198.046', 'c': '198.405'},
  'ask': {'o': '198.111', 'h': '198.420', 'l': '198.063', 'c': '198.418'}},
 {'complete': True,
  'volume': 15587,
  'time': '2024-12-27T14:00:00.000000000Z',
  'bid': {'o': '198.397', 'h': '198.497', 'l': '198.081', 'c': '198.358'},
  'mid': {'o': '198.409', 'h': '198.508', 'l': '198.096', 'c': '198.374'},
  'ask': {'o': '198.421', 'h': '198.524', 'l': '198.109', 'c': '198.390'}},
 {'complete': True,
  'volume': 21613,
  'time': '2024-12-27T15:00:00.000000000Z',
  'bid': {'o': '198.366', 'h': '198.496', 'l': '198.040', 'c': '198.157'},
  'mid': {'o': '198.382', 'h': '198.509', 'l': '198.050', 'c': '198.172'},
  'ask': {'o': '198.397', 'h': '198.522', 'l': '198.060', 'c': '198.186'}},
 {'complete': True,
  'volume': 17683,
  'time': '2024-12-27T16:00:00.000000000Z',
  'bid': {'o': '198.154', 'h': '198.393', 'l': '198.054', 'c': '198.255'},
  'mid': {'o': '198.168', 'h': '198.406', 'l': '198.070', 'c': '198.270'},
  'ask': {'o': '198.183', 'h': '198.420', 'l': '198.087', 'c': '198.286'}},
 {'complete': True,
  'volume': 14708,
  'time': '2024-12-27T17:00:00.000000000Z',
  'bid': {'o': '198.253', 'h': '198.263', 'l': '198.002', 'c': '198.220'},
  'mid': {'o': '198.268', 'h': '198.274', 'l': '198.018', 'c': '198.234'},
  'ask': {'o': '198.284', 'h': '198.285', 'l': '198.033', 'c': '198.249'}},
 {'complete': True,
  'volume': 12225,
  'time': '2024-12-27T18:00:00.000000000Z',
  'bid': {'o': '198.219', 'h': '198.379', 'l': '198.182', 'c': '198.350'},
  'mid': {'o': '198.234', 'h': '198.392', 'l': '198.197', 'c': '198.365'},
  'ask': {'o': '198.249', 'h': '198.407', 'l': '198.211', 'c': '198.380'}},
 {'complete': True,
  'volume': 11845,
  'time': '2024-12-27T19:00:00.000000000Z',
  'bid': {'o': '198.344', 'h': '198.703', 'l': '198.296', 'c': '198.703'},
  'mid': {'o': '198.360', 'h': '198.714', 'l': '198.314', 'c': '198.714'},
  'ask': {'o': '198.377', 'h': '198.725', 'l': '198.332', 'c': '198.725'}},
 {'complete': True,
  'volume': 9335,
  'time': '2024-12-27T20:00:00.000000000Z',
  'bid': {'o': '198.704', 'h': '198.708', 'l': '198.509', 'c': '198.632'},
  'mid': {'o': '198.714', 'h': '198.718', 'l': '198.528', 'c': '198.650'},
  'ask': {'o': '198.724', 'h': '198.731', 'l': '198.546', 'c': '198.668'}},
 {'complete': True,
  'volume': 4605,
  'time': '2024-12-27T21:00:00.000000000Z',
  'bid': {'o': '198.632', 'h': '198.644', 'l': '198.210', 'c': '198.467'},
  'mid': {'o': '198.649', 'h': '198.661', 'l': '198.408', 'c': '198.562'},
  'ask': {'o': '198.666', 'h': '198.714', 'l': '198.522', 'c': '198.658'}}]