In [1]:
%load_ext autoreload
%autoreload 2
import sys
# map folder using sys
sys.path.append('../')
from galgoz import Galgoz

In [2]:
gz = Galgoz(instrument='US30_USD')

date_from = "2005-01-01T00:00:00Z"
date_to = "2025-01-21T23:59:00Z"
gz.store_data(granularity="D", date_from=date_from, date_to=date_to, price="M")

Fetching candles from 2005-01-01 00:00:00 to 2018-09-10 00:00:00
Total candles fetched: 3569
Fetching candles from 2018-09-10 00:00:00 to 2025-01-21 23:59:00
Total candles fetched: 1648
Data saved to /Users/gaz/galgoz/data/US30_USD_D.pkl

In [3]:
import pandas as pd
from galgoz.galgoz import DATA_FOLDER
filename = DATA_FOLDER / "GBP_JPY_H1.pkl"
df = pd.read_pickle(filename)
df.head()

,complete,volume,time,mid_o,mid_h,mid_l,mid_c
0,1,4.0,2005-01-02T18:00:00.000000000Z,196.78,196.82,196.75,196.79
1,1,54.0,2005-01-02T19:00:00.000000000Z,196.91,197.21,196.88,197.13
2,1,127.0,2005-01-02T20:00:00.000000000Z,197.12,197.25,197.03,197.18
3,1,199.0,2005-01-02T21:00:00.000000000Z,197.18,197.30,197.08,197.15
4,1,144.0,2005-01-02T22:00:00.000000000Z,197.14,197.15,196.92,196.95