In [1]:
%load_ext autoreload
%autoreload 2
import sys
# map folder using sys
sys.path.append('../')
from galgoz import Galgoz

In [2]:
gz = Galgoz(instrument='GBP_JPY')

date_from = "2005-01-01T00:00:00Z"
date_to = "2025-02-06T23:59:00Z"
gz.store_data(granularity="H1", date_from=date_from, date_to=date_to, price="M")

Fetching candles from 2005-01-01 00:00:00 to 2005-07-28 08:00:00
Total candles fetched: 3690
Fetching candles from 2005-07-28 08:00:00 to 2006-02-21 16:00:00
Total candles fetched: 3704
Fetching candles from 2006-02-21 16:00:00 to 2006-09-18 00:00:00
Total candles fetched: 3670
Fetching candles from 2006-09-18 00:00:00 to 2007-04-14 08:00:00
Total candles fetched: 3653
Fetching candles from 2007-04-14 08:00:00 to 2007-11-08 16:00:00
Total candles fetched: 3669
Fetching candles from 2007-11-08 16:00:00 to 2008-06-04 00:00:00
Total candles fetched: 3645
Fetching candles from 2008-06-04 00:00:00 to 2008-12-29 08:00:00
Total candles fetched: 3669
Fetching candles from 2008-12-29 08:00:00 to 2009-07-25 16:00:00
Total candles fetched: 3669
Fetching candles from 2009-07-25 16:00:00 to 2010-02-19 00:00:00
Total candles fetched: 3670
Fetching candles from 2010-02-19 00:00:00 to 2010-09-15 08:00:00
Total candles fetched: 3684
Fetching candles from 2010-09-15 08:00:00 to 2011-04-11 16:00:00
Total candles fetched: 3935
Fetching candles from 2011-04-11 16:00:00 to 2011-11-06 00:00:00
Total candles fetched: 4259
Fetching candles from 2011-11-06 00:00:00 to 2012-06-01 08:00:00
Total candles fetched: 3735
Fetching candles from 2012-06-01 08:00:00 to 2012-12-26 16:00:00
Total candles fetched: 3606
Fetching candles from 2012-12-26 16:00:00 to 2013-07-23 00:00:00
Total candles fetched: 3554
Fetching candles from 2013-07-23 00:00:00 to 2014-02-16 08:00:00
Total candles fetched: 3519
Fetching candles from 2014-02-16 08:00:00 to 2014-09-12 16:00:00
Total candles fetched: 3594
Fetching candles from 2014-09-12 16:00:00 to 2015-04-09 00:00:00
Total candles fetched: 3506
Fetching candles from 2015-04-09 00:00:00 to 2015-11-03 08:00:00
Total candles fetched: 3560
Fetching candles from 2015-11-03 08:00:00 to 2016-05-29 16:00:00
Total candles fetched: 3512
Fetching candles from 2016-05-29 16:00:00 to 2016-12-24 00:00:00
Total candles fetched: 3600
Fetching candles from 2016-12-24 00:00:00 to 2017-07-20 08:00:00
Total candles fetched: 3513
Fetching candles from 2017-07-20 08:00:00 to 2018-02-13 16:00:00
Total candles fetched: 3513
Fetching candles from 2018-02-13 16:00:00 to 2018-09-10 00:00:00
Total candles fetched: 3561
Fetching candles from 2018-09-10 00:00:00 to 2019-04-06 08:00:00
Total candles fetched: 3549
Fetching candles from 2019-04-06 08:00:00 to 2019-10-31 16:00:00
Total candles fetched: 3575
Fetching candles from 2019-10-31 16:00:00 to 2020-05-27 00:00:00
Total candles fetched: 3511
Fetching candles from 2020-05-27 00:00:00 to 2020-12-21 08:00:00
Total candles fetched: 3558
Fetching candles from 2020-12-21 08:00:00 to 2021-07-17 16:00:00
Total candles fetched: 3542
Fetching candles from 2021-07-17 16:00:00 to 2022-02-11 00:00:00
Total candles fetched: 3576
Fetching candles from 2022-02-11 00:00:00 to 2022-09-07 08:00:00
Total candles fetched: 3557
Fetching candles from 2022-09-07 08:00:00 to 2023-04-03 16:00:00
Total candles fetched: 3535
Fetching candles from 2023-04-03 16:00:00 to 2023-10-29 00:00:00
Total candles fetched: 3581
Fetching candles from 2023-10-29 00:00:00 to 2024-05-24 08:00:00
Total candles fetched: 3537
Fetching candles from 2024-05-24 08:00:00 to 2024-12-18 16:00:00
Total candles fetched: 3559
Fetching candles from 2024-12-18 16:00:00 to 2025-02-06 23:59:00
Total candles fetched: 824
Data saved to /Users/gaz/galgoz/data/GBP_JPY_H1.pkl

In [3]:
import pandas as pd
from galgoz.galgoz import DATA_FOLDER
filename = DATA_FOLDER / "GBP_JPY_H1.pkl"
df = pd.read_pickle(filename)
df.head()

,complete,volume,time,mid_o,mid_h,mid_l,mid_c
0,1,4,2005-01-02T18:00:00.000000000Z,196.78,196.82,196.75,196.79
1,1,54,2005-01-02T19:00:00.000000000Z,196.91,197.21,196.88,197.13
2,1,127,2005-01-02T20:00:00.000000000Z,197.12,197.25,197.03,197.18
3,1,199,2005-01-02T21:00:00.000000000Z,197.18,197.30,197.08,197.15
4,1,144,2005-01-02T22:00:00.000000000Z,197.14,197.15,196.92,196.95

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127594 entries, 0 to 127593
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   complete  127594 non-null  int64
 1   volume    127594 non-null  int64
 2   time      127594 non-null  object
 3   mid_o     127594 non-null  float64
 4   mid_h     127594 non-null  float64
 5   mid_l     127594 non-null  float64
 6   mid_c     127594 non-null  float64
dtypes: float64(4), int64(2), object(1)
memory usage: 6.8+ MB