In [26]:

%load_ext autoreload
%autoreload 2
import sys
# map folder using sys
#sys.path.append('../')
import pandas as pd
import numpy as np
from galgoz import DATA_FOLDER
from galgoz import Galgoz
import numpy as np
from plotly import graph_objects as go
from talib import RSI as rsi
from galgoz.indicators.oscillators import qqe, RSI, QQE

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
filename = DATA_FOLDER / "GBP_JPY_H1.pkl"
data = pd.read_pickle(filename)
data["time"] = pd.to_datetime(data["time"])
data.set_index("time", inplace=True)
data["time_str"] = data.index.strftime(" %-b %d, '%y %H:%M")
data[["mid_o", "mid_h", "mid_l", "mid_c"]] = data[["mid_o", "mid_h", "mid_l", "mid_c"]].astype(float)

In [28]:
df = qqe(data)
QQE(data)

QQE(name='QQE', data=                           complete   volume    mid_o    mid_h    mid_l  \
time
2005-01-02 18:00:00+00:00         1      4.0  196.780  196.820  196.750
2005-01-02 19:00:00+00:00         1     54.0  196.910  197.210  196.880
2005-01-02 20:00:00+00:00         1    127.0  197.120  197.250  197.030
2005-01-02 21:00:00+00:00         1    199.0  197.180  197.300  197.080
2005-01-02 22:00:00+00:00         1    144.0  197.140  197.150  196.920
...                             ...      ...      ...      ...      ...
2024-12-27 17:00:00+00:00         1  14708.0  198.268  198.274  198.018
2024-12-27 18:00:00+00:00         1  12225.0  198.234  198.392  198.197
2024-12-27 19:00:00+00:00         1  11845.0  198.360  198.714  198.314
2024-12-27 20:00:00+00:00         1   9335.0  198.714  198.718  198.528
2024-12-27 21:00:00+00:00         1   4605.0  198.649  198.661  198.408

                             mid_c            time_str
time
2005-01-02 18:00:00+00:00  196.790   Jan 02, '05 18:00
2005-01-02 19:00:00+00:00  197.130   Jan 02, '05 19:00
2005-01-02 20:00:00+00:00  197.180   Jan 02, '05 20:00
2005-01-02 21:00:00+00:00  197.150   Jan 02, '05 21:00
2005-01-02 22:00:00+00:00  196.950   Jan 02, '05 22:00
...                            ...                 ...
2024-12-27 17:00:00+00:00  198.234   Dec 27, '24 17:00
2024-12-27 18:00:00+00:00  198.365   Dec 27, '24 18:00
2024-12-27 19:00:00+00:00  198.714   Dec 27, '24 19:00
2024-12-27 20:00:00+00:00  198.650   Dec 27, '24 20:00
2024-12-27 21:00:00+00:00  198.562   Dec 27, '24 21:00

[126920 rows x 7 columns], row=2, mode='lines', line={'color': 'blue', 'width': 2}, marker={'size': 5, 'color': 'blue', 'symbol': 'circle'}, output=                            qqe_fast   qqe_slow
time
2005-01-02 18:00:00+00:00        NaN   0.000000
2005-01-02 19:00:00+00:00        NaN   0.000000
2005-01-02 20:00:00+00:00        NaN   0.000000
2005-01-02 21:00:00+00:00        NaN   0.000000
2005-01-02 22:00:00+00:00        NaN   0.000000
...                              ...        ...
2024-12-27 17:00:00+00:00  62.692684  73.085602
2024-12-27 18:00:00+00:00  67.015093  73.085602
2024-12-27 19:00:00+00:00  75.616567  64.910356
2024-12-27 20:00:00+00:00  71.698138  64.910356
2024-12-27 21:00:00+00:00  66.299320  64.910356

[126920 rows x 2 columns], length=8, smooth=1, factor=1.618)

In [29]:
df.tail()

,complete,volume,mid_o,mid_h,mid_l,mid_c,time_str,qqe_fast,qqe_slow
time,,,,,,,,,
2024-12-27 17:00:00+00:00,1,14708.0,198.268,198.274,198.018,198.234,"Dec 27, '24 17:00",62.692684,73.085602
2024-12-27 18:00:00+00:00,1,12225.0,198.234,198.392,198.197,198.365,"Dec 27, '24 18:00",67.015093,73.085602
2024-12-27 19:00:00+00:00,1,11845.0,198.360,198.714,198.314,198.714,"Dec 27, '24 19:00",75.616567,64.910356
2024-12-27 20:00:00+00:00,1,9335.0,198.714,198.718,198.528,198.650,"Dec 27, '24 20:00",71.698138,64.910356
2024-12-27 21:00:00+00:00,1,4605.0,198.649,198.661,198.408,198.562,"Dec 27, '24 21:00",66.299320,64.910356

In [12]:
from plotly.subplots import make_subplots

# Use only the last 1000 data points
df_last_1000 = df.tail(1000)

# Create subplots with 2 rows and 1 column, with specified row heights
fig = make_subplots(rows=2, cols=1, row_heights=[0.7, 0.3], shared_xaxes=True)

# Add the candlestick plot to the first row
fig.add_trace(
    go.Candlestick(
        x=df_last_1000['time_str'],
        open=df_last_1000['mid_o'],
        high=df_last_1000['mid_h'],
        low=df_last_1000['mid_l'],
        close=df_last_1000['mid_c'],
        name='Candlesticks'
    ),
    row=1, col=1
)

# Add the qqe_fast and qqe_slow plots to the second row
fig.add_trace(
    go.Scatter(x=df_last_1000['time_str'], y=df_last_1000['qqe_fast'], name='QQE Fast'),
    row=2, col=1
)
fig.add_trace(
    go.Scatter(x=df_last_1000['time_str'], y=df_last_1000['qqe_slow'], name='QQE Slow'),
    row=2, col=1
)

# Update layout
fig.update_layout(height=800, title_text="Candlestick and QQE Indicators", xaxis_rangeslider_visible=False)

# Show the plot
fig.show()

NameError: name 'df' is not defined

In [ ]:
wmma

In [ ]:
from plotly.subplots import make_subplots

# Create subplots with 2 rows and 1 column, with specified row heights
fig = make_subplots(rows=2, cols=1, row_heights=[0.7, 0.3])

# Add the close price plot to the first row
fig.add_trace(
    go.Scatter(x=data.time_str, y=data['mid_c'], name='Close Price'),
    row=1, col=1
)

# Add other plots to the second row (example: qqe_fast and qqe_slow)
fig.add_trace(
    go.Scatter(x=df.index, y=df['qqe_fast'], name='QQE Fast'),
    row=2, col=1
)
fig.add_trace(
    go.Scatter(x=df.index, y=df['qqe_slow'], name='QQE Slow'),
    row=2, col=1
)

# Update layout
fig.update_layout(height=800, title_text="Close Price and QQE Indicators")

# Show the plot
fig.show()

In [22]:
df = qqe(data)

In [ ]:
df.tail()

In [19]:
RSI(data, 14)

RSI(name='RSI', data=                           complete   volume    mid_o    mid_h    mid_l  \
time
2005-01-02 18:00:00+00:00         1      4.0  196.780  196.820  196.750
2005-01-02 19:00:00+00:00         1     54.0  196.910  197.210  196.880
2005-01-02 20:00:00+00:00         1    127.0  197.120  197.250  197.030
2005-01-02 21:00:00+00:00         1    199.0  197.180  197.300  197.080
2005-01-02 22:00:00+00:00         1    144.0  197.140  197.150  196.920
...                             ...      ...      ...      ...      ...
2024-12-27 17:00:00+00:00         1  14708.0  198.268  198.274  198.018
2024-12-27 18:00:00+00:00         1  12225.0  198.234  198.392  198.197
2024-12-27 19:00:00+00:00         1  11845.0  198.360  198.714  198.314
2024-12-27 20:00:00+00:00         1   9335.0  198.714  198.718  198.528
2024-12-27 21:00:00+00:00         1   4605.0  198.649  198.661  198.408

                             mid_c            time_str
time
2005-01-02 18:00:00+00:00  196.790   Jan 02, '05 18:00
2005-01-02 19:00:00+00:00  197.130   Jan 02, '05 19:00
2005-01-02 20:00:00+00:00  197.180   Jan 02, '05 20:00
2005-01-02 21:00:00+00:00  197.150   Jan 02, '05 21:00
2005-01-02 22:00:00+00:00  196.950   Jan 02, '05 22:00
...                            ...                 ...
2024-12-27 17:00:00+00:00  198.234   Dec 27, '24 17:00
2024-12-27 18:00:00+00:00  198.365   Dec 27, '24 18:00
2024-12-27 19:00:00+00:00  198.714   Dec 27, '24 19:00
2024-12-27 20:00:00+00:00  198.650   Dec 27, '24 20:00
2024-12-27 21:00:00+00:00  198.562   Dec 27, '24 21:00

[126920 rows x 7 columns], row=2, mode='lines', line={'color': 'blue', 'width': 2}, marker={'size': 5, 'color': 'blue', 'symbol': 'circle'}, output=time
2005-01-02 18:00:00+00:00          NaN
2005-01-02 19:00:00+00:00          NaN
2005-01-02 20:00:00+00:00          NaN
2005-01-02 21:00:00+00:00          NaN
2005-01-02 22:00:00+00:00          NaN
                               ...
2024-12-27 17:00:00+00:00    61.082123
2024-12-27 18:00:00+00:00    63.652937
2024-12-27 19:00:00+00:00    69.443983
2024-12-27 20:00:00+00:00    67.325587
2024-12-27 21:00:00+00:00    64.415858
Name: RSI, Length: 126920, dtype: float64, window=14)